<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="static/images/fmadeoutofleaves.jpeg" alt=""  height="35" class="d-inline-block align-text-top"> Financial Planter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/your_info'>Take a Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/about_us'>About Us</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/your_budget">View My Stats</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
<p style="text-align:center;"> You reached your savings goal of {{goal_amount}} dollars. You even have ${{savings-goal_amount}} to spare! </p>
<div class="container"> 
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{savings}}" aria-valuemin="0" aria-valuemax="{{goal_amount}}" style="width:{{goal_percent}}%;">{{savings}}</div>
    </div>
  </div>
</div>
<br>

<h3 style="text-align:center;">Update Your Monthly Information</h3>
     <form class="row g-3" method="post" action="/your_info">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="col-12">
                <label for="date" class="form-label">Date: </label>
                <input type="date" class="form-control" name="date">
            </div> <br>
            <div class="col-12">
                <label for="goal_amount" class="form-label">Goal Amount At End of Month: </label>
                <input type="number" class="form-control" name="goal_amount">
            </div><br>
            <div class="col-12">
                <label for="monthly_expenses" class="form-label">Monthly Expenses: </label>
                <input type="number" class="form-control" name="monthly_expenses">
            </div><br>
            <div class="col-12">
                <label for="pay_per_hour" class="form-label">Pay Per Hour: </label>
                <input type="number" class="form-control" name="pay_per_hour" placeholder="$15">
            </div><br>
            <div class="col-12">
                <label for="hours_worked" class="form-label">Hours Worked (Per Week): </label>
                <input type="number" class="form-control" name="hours_worked">
            </div><br>
            <div class="col-12">
                <label for="add_income" class="form-label">Any Additional Income: </label>
                <input type="number" class="form-control" name="add_income">
            </div><br>
            <div class="col-12">
                <label for="add_expenses" class="form-label">Any Additional Expenses: </label>
                <input type="number" class="form-control" name="add_expenses">
            </div><br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    
</body>

</html>