
<html>
    <head>
        <title>Financial Planter Signup</title>
        <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- <form action="/signup" method="POST">            
            <label for="name">Name</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Sign Up">
        </form> -->
        <form class="row g-3" method="post" action="/signup">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="col-12">
                <label for="user_name" class="form-label">Name: </label>
                <input type="text" class="form-control" name="user_name" required>
            </div> <br>
            <div class="col-12">
                <label for="username" class="form-label">User Name: </label>
                <input type="text" class="form-control" name="username" required>
            </div> <br>
            <div class="col-12">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" name="password" required>
            </div> <br>
            <div class="col-12">
                <label for="goal_amount" class="form-label">Goal Amount At End of Month: </label>
                <input type="number" class="form-control" name="goal_amount" required value="0" min="0">
            </div><br>
            <div class="col-12">
                <label for="monthly_expenses" class="form-label">Monthly Expenses: </label>
                <input type="number" class="form-control" name="monthly_expenses" required value="0" min="0">
            </div><br>
            <div class="col-12">
                <label for="pay_per_hour" class="form-label">Pay Per Hour: </label>
                <input type="number" class="form-control" name="pay_per_hour"  required value="15" min="0">
            </div><br>
            <div class="col-12">
                <label for="hours_worked" class="form-label">Hours Worked (Per Week): </label>
                <input type="number" class="form-control" name="hours_worked" required value="0" min="0">
            </div><br>
            <div class="col-12">
                <label for="add_income" class="form-label">Any Additional Income: </label>
                <input type="number" class="form-control" name="add_income" required value="0" min="0">
            </div><br>
            <div class="col-12">
                <label for="add_expenses" class="form-label">Any Additional Expenses: </label>
                <input type="number" class="form-control" name="add_expenses" required value="0" min="0">
            </div><br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    </body>
</html>